@charset "UTF-8";
*{
  font-family: sans-serif;
}
#logo{
  width: 5%;
}
#menu{
  display: inline;
}
header{
  text-align: center;
}

footer{
  position: fixed;
  left: 0;
  bottom:0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: gray;
}
